.auth-type-switcher.nav-tabs .nav-item .switch {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.auth-type-switcher {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
}

.auth-type-switcher .switch {
  cursor: pointer;
  width: 50%;
  display: inline-block;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}
.auth-type-switcher .switch:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.auth-type-switcher .switch.active {
  background-color: rgba(255, 255, 255, 0.4);
}
.auth-type-switcher .switch.active:hover {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.4);
}
